[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-mnemosy
Exec=harbour-mnemosy
Name=Mnemosy
# translation example:
# your app name in German locale (de)
#Name[de]=Mnemosy

